.banner {
    background: url(../Marco1/assent/img/hero-bg.jpg) center center/cover;
    background-size: cover;
}

.banner-hom {
    align-items: center !important;
    justify-content: space-between !important;
}

.bannercon {
    margin-top: 100px;
}

.bannercon h6 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.bannertext {
    color: #fff !important;
}

.bannercon h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}

.bannercon p {
    max-width: 515px;
    margin-bottom: 30px;
}

.banner_btn {
    background: #f42f2c;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

/* /////// */
.hom_about {
    padding: 120px 0;
}

.hom_row {
    align-items: center;
}

.hom_about_text h1 {
    color: #222;
    line-height: 1.2em !important;
    font-weight: 600;
}

.hom_about_text p {
    margin: 20px 0;
    max-width: 490px;
}

.hom_about_img {
    max-width: 100%;
    height: auto;
}

/* // */
.what {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f9f9ff;
    padding: 80px 0;

}

.what-cars {
    width: 100%;

}

.what-card {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    width: 90%;
    margin-left: 2%;
}

.what-sal {
    width: 98%;
    display: flex;
    justify-content: center;
}

.what-text {
    margin-top: 15px;
}

.wtf1 {
    width: 100%;
}

.wtf {
    width: 79%;
    display: flex;
    justify-content: center;
}

.HAMMA {
    display: flex;
    justify-content: center;
}

/* resel */
.reservation-area {
    background: url(./assent/img/reservation-bg.jpg) no-repeat center/cover;
    width: 100%;
}

.dropdown .btn {
    border: 1px solid #eeeeee;
    padding-left: 12px;
    padding-right: 0px;
    border-radius: 0px;
    height: 40px;
    background: #fff !important;
    width: 100%;
    color: #777;
    text-align: start;
    margin-bottom: 20px;
}

.row1 {
    display: flex;
}

.section-gap {
    padding: 120px 0;
}

.relative {
    position: relative;
}

.reservation-area .reser-bg {
    background: rgba(17, 22, 24, 0.75);
}

.reser_po {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.resert {
    align-items: center !important;
    justify-content: space-between !important;

}

.reservation-area .reser_name {
    position: relative;
    width: 37%;
}

.reser_text {
    color: #fff !important;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.restex {
    padding-top: 20px;
}

.reservation-area .reser_input {
    position: relative;
    width: 37%;
}

.reservation-area .reser_input .reser_form {
    background: #fff;
    padding: 100px 40px;
    text-align: center;
}

.form-control {
    border-radius: 0px;
    margin-bottom: 10px;
    border-color: #eeeeee;
    font-size: 13px;
    font-weight: 300;
    padding: 0.575rem 0.75rem;
    color: #999999;
    line-height: 1.5;
    border: 1px solid #ced4da;
}

.food_name {
    font-family: "Poppins", sans-serif;
    color: #222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.food_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;

}

.table_button {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

}

.table_us {
    width: 75%;
}

.table {
    display: flex;
    justify-content: center;
}

.table_but2 {
    cursor: pointer;
    position: relative;
    color: rgb(255, 255, 255) !important;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    background-color: #f42f2c !important;
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px 0px 0 10px;
}

.table_but {
    cursor: pointer;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-right: 0.5px solid rgb(213, 213, 213);
}

.table_butt {
    cursor: pointer;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.food {
    width: 100%;
    height: auto;
    background-color: #f9f9ff;
    padding: 90px 0;

}

.food_pg {
    width: 75%;
    display: flex;
    justify-content: center;
}

.foodimg {
    display: flex;
    justify-content: center;
}

.food_img {
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    width: 95%;
}

/* carusel */
.carusel {
    background: url(./assent/img/review-bg.jpg) no-repeat center/cover;
    padding: 120px 0;
}

.caru_div {
    display: flex !important;
}

.car {
    display: block;
    align-items: center !important;
    justify-content: space-between !important;
    text-align: center !important;
    padding-left: 27%;
}


.car2 p {
    margin-top: 20px;
    max-width: 555px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-style: italic;
}

.car2 .single-review h4 {
    margin-top: 20px;
}

.single-review .star .checked .bi {
    background-color: #ffc000 !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* lates */
.lates {
    padding: 120px 0;
}

.lates_div {
    justify-content: center !important;
    align-items: center !important;
}

.lates_1 {
    padding-bottom: 70px;
    text-align: center !important;
}

.lates_1 h1 {
    font-family: "Poppins", sans-serif;
    color: #222;
    line-height: 1.2em !important;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
}

.lates_1 p {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.lates_div2 {
    display: flex;
    gap: 30px;
}

.last_img {
    overflow: hidden;

}

.last_img img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.las .date {
    background-color: #000;
    color: #fff;
    font-weight: 100;
    padding: 2px 15px;
    width: 115px;
    text-align: center;
    margin-top: 20px;
}

.las a {
    color: #222;
    text-decoration: none;
}

.las p {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.last_li {
    display: flex;
    justify-content: space-between !important;
}

.last_li p {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.img-fluid {
    width: 100%;
    height: 200px !important;
}

/*  */
.futer {
    width: 100%;
    height: 65vh;
    background-color: #f42f2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.futer-twx {
    width: 75%;
    display: flex;
    justify-content: center;
}

.futer-ram {
    width: 33%;
    height: 100%;
    padding: 10px;
}

.futer-open {
    color: #fff;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 550;
}

.futer-draw {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-bottom: 1px solid rgba(238, 238, 238, 0.3);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

.futer-draw1 {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    margin-bottom: 20px;
}

.futer-nomer {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    font-family: "Poppins", sans-serif;

}

.futer-in {
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 100%;
    display: flex;
}

.futer-input {
    width: 90%;
    outline: none;
    height: 35px;
    border: none;
    margin-left: 12px;
}

.futer-qizil {
    background-color: #f42f2c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.futer-qizil .bi {
    padding: 10px;
    font-weight: 900;
    font-size: 24px !important;
    color: #fff;
}

.futer-past {
    width: 100%;
    height: 70px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.futer-raska {
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

.futer-ios {
    color: #fff;
    font-family: "Poppins", sans-serif;

}

.futer-span {
    color: #f42f2c;
    cursor: pointer;
    text-decoration: none;
}

.futer-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #111111;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 5px;
}

.futer-icon:hover {
    background-color: #f42f2c;
}

.futer-abet {
    display: flex;
    justify-content: end;
    text-align: end;
    margin-left: 35%;
}