.banner {
    background: url(../Marco1/assent/img/hero-bg.jpg) center center/cover;
    background-size: cover;
}

.banner-hom {
    align-items: center !important;
    justify-content: space-between !important;
}

.bannercon {
    margin-top: 100px;
}

.bannercon h6 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.bannertext {
    color: #fff !important;
}

.bannercon h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}

.bannercon p {
    max-width: 515px;
    margin-bottom: 30px;
}

.banner_btn {
    background: #f42f2c;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
/* /////// */
.hom_about {
    padding: 120px 0;
}

.hom_row {
    align-items: center;
}

.hom_about_text h1 {
    color: #222;
    line-height: 1.2em !important;
    font-weight: 600;
}

.hom_about_text p {
    margin: 20px 0;
    max-width: 490px;
}

.hom_about_img {
    max-width: 100%;
    height: auto;
}
/* // */
.what {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f9f9ff;
    padding: 80px 0;

}

.what-cars {
    width: 100%;

}

.what-card {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    width: 90%;
    margin-left: 2%;
}

.what-sal {
    width: 98%;
    display: flex;
    justify-content: center;
}

.what-text {
    margin-top: 15px;
}

.wtf1 {
    width: 100%;
}

.wtf {
    width: 79%;
    display: flex;
    justify-content: center;
}

.HAMMA {
    display: flex;
    justify-content: center;
}